<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chokletbar_training99">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ChokletBar_training99">
        <activity
            android:name=".Admin_Activities.Dashboard"
            android:exported="true" />
        <activity
            android:name=".Activities.About_us"
            android:exported="true" />
        <activity
            android:name=".Activities.UserActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Order_info"
            android:exported="true" />
        <activity
            android:name=".Activities.Sign_In"
            android:exported="true" />

        <meta-data
            android:name="DATABASE"
            android:value="food.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.chokletbar_training99" />

        <activity
            android:name=".Activities.Cart_Activity"
            android:exported="true" />
        <activity
            android:name=".Admin_Activities.Orders_control_Activity"
            android:exported="true" />
        <activity
            android:name=".Activities.Sign_Up"
            android:exported="true" />
        <activity
            android:name=".Activities.Product_Info"
            android:exported="true" />
        <activity
            android:name=".Admin_Activities.Add_product"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>